<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pois24"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/slika22"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sat.SatActivity"
            android:label="@string/title_activity_sat"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.SAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Poruka.PorukaActivity"
            android:label="@string/title_activity_poruka"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.PORUKA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Poruka.SendPorukuX"
            android:label="@string/title_activity_poruka"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.PORUKAX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Stetoskop.StetoskopActivity"
            android:label="@string/title_activity_stetoskop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.STETOSKOP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Stetoskop.TerapijaActivity"
            android:label="@string/title_activity_terapija1"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.TERAPIJA1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PodesavanjaActivity"
            android:label="@string/title_activity_podesavanja"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.PODESAVANJA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sat.RodjendanActivity"
            android:label="@string/title_activity_rodjendan"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.RODJENDAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sat.PodaciActivity"
            android:label="@string/title_activity_lista"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.podaci" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sat.PodaciRodjendanActivity"
            android:label="@string/title_activity_listaR"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.podaciRodj" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sat.PodaciTVprogramActivity"
            android:label="@string/title_activity_listaTV"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.podaciTV" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sat.TvProgramActivity"
            android:label="@string/title_activity_tv_program"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.TVPROGRAM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sat.PreglediActivity"
            android:label="@string/title_activity_pregledi"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.PREGLEDI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Stetoskop.AlarmReceiverTerapija"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Sat.SlavaActivity"
            android:label="@string/title_activity_slava"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.SLAVA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sat.PomeniActivity"
            android:label="@string/title_activity_pomeni"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.pois24.POMENI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Stetoskop.MyAlarmService"
            android:enabled="true"
            android:label="@string/title_activity_my_alarm_service" >
        </activity>
        <activity
            android:name="com.example.pois24.Stetoskop.ConfirmAlarmDialog"
            android:label="@string/title_activity_confirm_alarm_dialog" >
        </activity>
    </application>

</manifest>